<a href="https://colab.research.google.com/github/PurvanshBarodia/Backorder-Prediction/blob/main/Backorder_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project Title** : Backorder Prediction

**Technologies** : Machine Learning Technology

**Domain** : Ecommerce

**Project Difficulties level** : Intermediate

*Terms:*

**Backorder**: 
This are the order which company can not fullfill at a preset.

It results in delayed delevery of the product which actully result into customer's in unsetisfaction that eventually result into lose of customer.

We are living in the times where compnies are devloping habit of inpesence form the model like delevery in 15 minute.

watch video for more explaination: https://tinyurl.com/33sd3nwv

**ERP**:
Enterprice Resource Planning

watch video for more explaination: https://tinyurl.com/2p833d2e

**Problem Statement:**

Backorders are unavoidable, but by anticipating which things will be backordered, planning can be streamlined at several levels, **preventing unexpected strain on production, logistics, and transportation.** ERP systems generate a lot of data (mainly structured) and also contain a lot of historical data; if this data can be properly utilized, a predictive model to forecast backorders and plan accordingly can be constructed. **Based on past data from inventories, supply chain, and sales, classify the products as going into backorder (Yes or No).**

**Dataset:**

Link: https://tinyurl.com/2au43psv

In [ ]:
## Step:0 Import all neccesary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
## Step:1 Get the Dataset

from google.colab import drive
drive.mount('/content/gdrive')
%cd gdrive/MyDrive

train_df = pd.read_csv('Back-order Prediction/Kaggle_Training_Dataset_v2.csv')
test_df = pd.read_csv('Back-order Prediction/Kaggle_Test_Dataset_v2.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
train_df.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687861 entries, 0 to 1687860
Data columns (total 23 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   sku                1687861 non-null  object
 1   national_inv       1687860 non-null  float64
 2   lead_time          1586967 non-null  float64
 3   in_transit_qty     1687860 non-null  float64
 4   forecast_3_month   1687860 non-null  float64
 5   forecast_6_month   1687860 non-null  float64
 6   forecast_9_month   1687860 non-null  float64
 7   sales_1_month      1687860 non-null  float64
 8   sales_3_month      1687860 non-null  float64
 9   sales_6_month      1687860 non-null  float64
 10  sales_9_month      1687860 non-null  float64
 11  min_bank           1687860 non-null  float64
 12  potential_issue    1687860 non-null  object
 13  pieces_past_due    1687860 non-null  float64
 14  perf_6_month_avg   1687860 non-null  float64
 15  perf_12_month_avg  1687860 non-null  float64
 16  local_bo_qty       1687860 non-null  float64
 17  deck_risk          1687860 non-null  object
 18  oe_constraint      1687860 non-null  object
 19  ppap_risk          1687860 non-null  object
 20  stop_auto_buy      1687860 non-null  object
 21  rev_stop           1687860 non-null  object
 22  went_on_backorder  1687860 non-null  object
dtypes: float64(15), object(8)
memory usage: 296.2+ MB

In [ ]:
# Step 2 Clean the Data (Train and Test)

train_df.isnull().sum()

sku                       0
national_inv              1
lead_time            100894
in_transit_qty            1
forecast_3_month          1
forecast_6_month          1
forecast_9_month          1
sales_1_month             1
sales_3_month             1
sales_6_month             1
sales_9_month             1
min_bank                  1
potential_issue           1
pieces_past_due           1
perf_6_month_avg          1
perf_12_month_avg         1
local_bo_qty              1
deck_risk                 1
oe_constraint             1
ppap_risk                 1
stop_auto_buy             1
rev_stop                  1
went_on_backorder         1
dtype: int64

In [ ]:
# lead_time have 100894 null values, so it is better to impute with median value
train_df.loc[train_df['lead_time'].isnull(),'lead_time'] = train_df['lead_time'].median()

In [ ]:
train_df.isnull().sum()

sku                  0
national_inv         1
lead_time            0
in_transit_qty       1
forecast_3_month     1
forecast_6_month     1
forecast_9_month     1
sales_1_month        1
sales_3_month        1
sales_6_month        1
sales_9_month        1
min_bank             1
potential_issue      1
pieces_past_due      1
perf_6_month_avg     1
perf_12_month_avg    1
local_bo_qty         1
deck_risk            1
oe_constraint        1
ppap_risk            1
stop_auto_buy        1
rev_stop             1
went_on_backorder    1
dtype: int64

In [ ]:
# drop other null vaules
train_df.dropna(inplace=True)

In [ ]:
# sku is Product ID so which is of no use
# drop the column sku
train_df.drop('sku',axis=1,inplace=True)

In [ ]:
for i in train_df.columns:
  print(i)
  print(train_df[i].value_counts())
  print("__________________________________________________")

national_inv
 0.0        108425
 2.0        107869
 3.0         90577
 4.0         69588
 5.0         58916
             ...
 8928.0          1
 14216.0         1
 8153.0          1
 59796.0         1
-208.0           1
Name: national_inv, Length: 14969, dtype: int64
__________________________________________________
lead_time
8.0     783079
2.0     337402
12.0    199700
4.0     128537
9.0     123649
52.0     30113
3.0      16253
10.0     14192
0.0      10511
14.0     10314
16.0      8843
13.0      5405
6.0       5365
5.0       4031
15.0      3812
17.0      3763
11.0      1094
20.0       416
30.0       312
18.0       221
7.0        209
22.0       133
24.0       115
26.0       105
28.0        84
21.0        49
40.0        48
35.0        35
19.0        28
1.0         21
23.0        14
25.0         7
Name: lead_time, dtype: int64
__________________________________________________
in_transit_qty
0.0        1344662
1.0          36515
2.0          22236
3.0          17189
4.0          15364
            ...
2037.0           1
7066.0           1
4706.0           1
25446.0          1
2479.0           1
Name: in_transit_qty, Length: 5230, dtype: int64
__________________________________________________
forecast_3_month
0.0        1177722
1.0          31452
2.0          26612
5.0          19740
4.0          18563
            ...
9108.0           1
22080.0          1
19214.0          1
3391.0           1
6270.0           1
Name: forecast_3_month, Length: 7825, dtype: int64
__________________________________________________
forecast_6_month
0.0        1084111
1.0          27857
2.0          26492
3.0          19975
4.0          18782
            ...
8383.0           1
6461.0           1
9278.0           1
4453.0           1
17220.0          1
Name: forecast_6_month, Length: 11114, dtype: int64
__________________________________________________
forecast_9_month
0.0        1033241
1.0          26781
2.0          25662
3.0          20716
4.0          19322
            ...
8590.0           1
5617.0           1
11342.0          1
7945.0           1
7909.0           1
Name: forecast_9_month, Length: 13662, dtype: int64
__________________________________________________
sales_1_month
0.0        959817
1.0        144881
2.0         78759
3.0         49410
4.0         37905
            ...
3054.0          1
12209.0         1
11471.0         1
12987.0         1
2942.0          1
Name: sales_1_month, Length: 5764, dtype: int64
__________________________________________________
sales_3_month
0.0        759225
1.0        136966
2.0         81289
3.0         53082
4.0         41533
            ...
53095.0         1
14098.0         1
6848.0          1
20912.0         1
16591.0         1
Name: sales_3_month, Length: 10495, dtype: int64
__________________________________________________
sales_6_month
0.0        647038
1.0        127076
2.0         79418
3.0         52987
4.0         41716
            ...
11242.0         1
40667.0         1
15159.0         1
7698.0          1
15074.0         1
Name: sales_6_month, Length: 14818, dtype: int64
__________________________________________________
sales_9_month
0.0         585994
1.0         120294
2.0          76521
3.0          52294
4.0          41399
             ...
25784.0          1
157919.0         1
12071.0          1
13423.0          1
23164.0          1
Name: sales_9_month, Length: 18341, dtype: int64
__________________________________________________
min_bank
0.0        872331
1.0        252498
2.0        113010
3.0         36035
4.0         22180
            ...
10776.0         1
14812.0         1
2496.0          1
6412.0          1
3294.0          1
Name: min_bank, Length: 5568, dtype: int64
__________________________________________________
potential_issue
No     1686953
Yes        907
Name: potential_issue, dtype: int64
__________________________________________________
pieces_past_due
0.0       1662571
1.0          3917
2.0          2187
4.0          1294
3.0          1217
           ...
908.0           1
456.0           1
254.0           1
2620.0          1
408.0           1
Name: pieces_past_due, Length: 826, dtype: int64
__________________________________________________
perf_6_month_avg
 0.99     143757
 1.00     132329
-99.00    129478
 0.73     106468
 0.98      83611
           ...
 0.20        861
 0.03        703
 0.04        652
 0.01        572
 0.29        515
Name: perf_6_month_avg, Length: 102, dtype: int64
__________________________________________________
perf_12_month_avg
 0.99     132425
-99.00    122050
 0.78     117662
 0.98      92825
 0.97      66029
           ...
 0.23        857
 0.06        817
 0.05        646
 0.03        563
 0.02        420
Name: perf_12_month_avg, Length: 102, dtype: int64
__________________________________________________
local_bo_qty
0.0       1664518
1.0          7151
2.0          2982
3.0          1716
4.0          1224
           ...
307.0           1
2780.0          1
452.0           1
840.0           1
3600.0          1
Name: local_bo_qty, Length: 654, dtype: int64
__________________________________________________
deck_risk
No     1300377
Yes     387483
Name: deck_risk, dtype: int64
__________________________________________________
oe_constraint
No     1687615
Yes        245
Name: oe_constraint, dtype: int64
__________________________________________________
ppap_risk
No     1484026
Yes     203834
Name: ppap_risk, dtype: int64
__________________________________________________
stop_auto_buy
Yes    1626774
No       61086
Name: stop_auto_buy, dtype: int64
__________________________________________________
rev_stop
No     1687129
Yes        731
Name: rev_stop, dtype: int64
__________________________________________________
went_on_backorder
No     1676567
Yes      11293
Name: went_on_backorder, dtype: int64
__________________________________________________

In [ ]:
# However we have treated all values which was stored ans NaN,
# But as we see above, in some columns it is noted as -99.00 (perf_6_month_avg, perf_12_month_avg)

# Let's see what percentage of data having -99.0 value
l_col = ['perf_6_month_avg','perf_12_month_avg']
(train_df[ l_col] == -99.0).sum() / train_df.shape[0]

perf_6_month_avg     0.076711
perf_12_month_avg    0.072310
dtype: float64

In [ ]:
# In both column 0.07% data is -99.0
# We can drop the values as we will not lose much data
drop_index = train_df.loc[train_df['perf_6_month_avg'] == -99.0,:].index
train_df.drop(drop_index,axis=0,inplace=True)

drop_index = train_df.loc[train_df['perf_12_month_avg'] == -99.0,:].index
train_df.drop(drop_index,axis=0,inplace=True)

In [ ]:
(train_df[ l_col] == -99.0).sum()

perf_6_month_avg     0
perf_12_month_avg    0
dtype: int64

In [ ]:
(train_df.dtypes =='object')

national_inv         False
lead_time            False
in_transit_qty       False
forecast_3_month     False
forecast_6_month     False
forecast_9_month     False
sales_1_month        False
sales_3_month        False
sales_6_month        False
sales_9_month        False
min_bank             False
potential_issue       True
pieces_past_due      False
perf_6_month_avg     False
perf_12_month_avg    False
local_bo_qty         False
deck_risk             True
oe_constraint         True
ppap_risk             True
stop_auto_buy         True
rev_stop              True
went_on_backorder     True
dtype: bool

In [ ]:
# As we can see there are 8 columns having datatype object.
# Which all are binary type
binary_col = ['potential_issue', 'deck_risk', 'oe_constraint', 'ppap_risk',
               'stop_auto_buy', 'rev_stop', 'went_on_backorder']
train_df[binary_col]

,potential_issue,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
1,No,No,No,No,Yes,No,No
3,No,No,No,No,Yes,No,No
5,No,No,No,No,Yes,No,No
7,No,Yes,No,Yes,Yes,No,No
9,No,No,No,No,Yes,No,No
...,...,...,...,...,...,...,...
1687854,No,No,No,No,Yes,No,No
1687855,No,Yes,No,No,Yes,No,No
1687857,No,Yes,No,No,No,No,Yes
1687858,No,No,No,No,Yes,No,No
1687859,No,No,No,No,Yes,No,No

In [ ]:
# This 7 columns have Binary (Yes/No) values, convert it to 0,1
# Apply conditional mask on this df columns
# convert it to int type (True will be evaluate to 1 and False will be evalute to 0)
train_df[binary_col] = (train_df[binary_col]=='Yes').astype('int64')

In [ ]:
# Now all the values are numeric
# normalize the remaining columns
norm_col = list(set(train_df.columns) - set(binary_col))
#train_df[norm_col]
from sklearn.preprocessing import normalize

train_df[norm_col] = normalize(train_df[norm_col],axis=1)

In [ ]:
train_df

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
1,0.214472,0.965122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.106163,0.106163,0.000000,0,0,0,1,0,0
3,0.655533,0.749180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.009365,0.012174,0.000000,0,0,0,1,0,0
5,0.849058,0.522497,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.053556,0.056822,0.000000,0,0,0,1,0,0
7,0.948683,0.316228,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,1,0,1,1,0,0
9,0.443271,0.886543,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.090871,0.096412,0.000000,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687854,0.058667,0.003785,0.066237,0.193979,0.369034,0.586669,0.060559,0.219528,0.401679,0.508131,...,0.0,0.000402,0.000426,0.000473,0,0,0,1,0,0
1687855,0.000000,0.093973,0.000000,0.469866,0.469866,0.469866,0.000000,0.234933,0.328906,0.328906,...,0.0,0.032421,0.032421,0.234933,1,0,0,1,0,0
1687857,-0.038795,0.349151,0.000000,0.271562,0.349151,0.426740,0.000000,0.310356,0.426740,0.465534,...,0.0,0.033363,0.032587,0.038795,1,0,0,0,0,1
1687858,0.196104,0.028467,0.050607,0.123356,0.275178,0.398534,0.110704,0.199267,0.483934,0.648408,...,0.0,0.002720,0.002657,0.018978,0,0,0,1,0,0
1687859,0.607820,0.127962,0.000000,0.000000,0.000000,0.000000,0.063981,0.223934,0.383886,0.639810,...,0.0,0.023353,0.024953,0.031991,0,0,0,1,0,0

In [ ]:
# save it as cleaned_train.csv
train_df.to_csv('cleaned_train.csv',index=None)

In [ ]:
# Do the same Process for Test data
test_df.loc[test_df['lead_time'].isnull(),'lead_time'] = test_df['lead_time'].median()


# drop other null vaules
test_df.dropna(inplace=True)


# sku is Product ID so which is of no use
# drop the column sku
test_df.drop('sku',axis=1,inplace=True)


drop_index = test_df.loc[test_df['perf_6_month_avg'] == -99.0,:].index
test_df.drop(drop_index,axis=0,inplace=True)


drop_index = test_df.loc[test_df['perf_12_month_avg'] == -99.0,:].index
test_df.drop(drop_index,axis=0,inplace=True)


# There are 8 columns having datatype object.
# Which all are binary type
binary_col = ['potential_issue', 'deck_risk', 'oe_constraint', 'ppap_risk',
               'stop_auto_buy', 'rev_stop', 'went_on_backorder']




# This 7 columns have Binary (Yes/No) values, convert it to 0,1
# Apply conditional mask on this df columns
# convert it to int type (True will be evaluate to 1 and False will be evalute to 0)
test_df[binary_col] = (test_df[binary_col]=='Yes').astype('int64')


# Now all the values are numeric
# normalize the remaining columns
norm_col = list(set(test_df.columns) - set(binary_col))
#test_df[norm_col]
from sklearn.preprocessing import normalize


test_df[norm_col] = normalize(test_df[norm_col],axis=1)


# save it as cleaned_test.csv
test_df.to_csv('cleaned_test.csv',index=None)

In [ ]:
t = pd.read_csv('cleaned_test.csv')
t.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,0.902586,0.424746,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.048846,0.050439,0.0,0,0,0,1,0,0
1,0.947784,0.210619,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.210619,...,0.0,0.082141,0.078982,0.0,0,0,1,1,0,0
2,0.241129,0.964516,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.065105,0.085601,0.0,0,0,0,1,0,0
3,0.979327,0.130577,0.0,0.0,0.0,0.0,0.0,0.0,0.065288,0.130577,...,0.0,0.024157,0.044396,0.0,0,0,0,1,0,0
4,0.997045,0.076696,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.003164,0.003068,0.0,0,0,0,1,0,0

In [28]:
# Step:3 Start working on Clean Data

In [29]:
import pandas as pd
train_1 = pd.read_csv('cleaned_train.csv')
test_1 = pd.read_csv('cleaned_test.csv')

In [31]:
train_1.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,0.214472,0.965122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.106163,0.106163,0.0,0,0,0,1,0,0
1,0.655533,0.749180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.009365,0.012174,0.0,0,0,0,1,0,0
2,0.849058,0.522497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.053556,0.056822,0.0,0,0,0,1,0,0
3,0.948683,0.316228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,1,0,1,1,0,0
4,0.443271,0.886543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.090871,0.096412,0.0,0,0,0,1,0,0